#------------------------------------------------------------------------------
# .gitignore with patterns of files and directories to be ignored by git.
# //
# see: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#------------------------------------------------------------------------------

# ignore git submodule files
.gitmodules
.env/
.vscode/
.libs/

# ignore generated directories and compiled output
bin/
out/
target/
*.class

# ignore Java packaging files, *.war, *.ear
*.jar

# ignore other archives and encoded files
*.7z
*.gz
*.rar
*.tar
*.tgz
*.tar.gz
*.zip
*.uue*

# ignore folders with libraries
lib/
libs/

# ignore folders with branches
branch/
branches/

# ignore folders with javadoc (generated)
doc/
docs/

# ignore log directories and *.log files (generated)
log/
logs/
*.log

# ignore eclipse IDE project files
.classpath
.project

# ignore IntelliJ IDE project files
.iml
.idea

# ignore tmp directories and *.tmp files
tmp/
temp/
*.tmp

# ignore OSX system files
.DS_Store
