[submodule ".env"]
	path = .env
	url = https://github.com/sgra64/gitmodule-env.sh.git
[submodule ".vscode"]
	path = .vscode
	url = https://github.com/sgra64/gitmodule-vscode-java.git
[submodule "libs"]
	path = libs
	url = https://github.com/sgra64/gitmodule-libs-jars.git
