#------------------------------------------------------------------------------
# .gitignore contains patterns of files and directories to be ignored by git.
# 
# see: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# example: https://github.com/github/gitignore/blob/master/Java.gitignore
#------------------------------------------------------------------------------

# ignore .gitignore file and git submodules
.gitignore
.gitmodules
.env*
.vscode
libs

# ignore generated directories and compiled output (generated)
bin/
out/
target/
*.class
coverage

# ignore Java packaging files
*.jar
*.war
*.ear

# ignore other archive and encoded files
*.7z
*.gz
*.rar
*.tar
*.tgz
*.tar.gz
*.zip
*.uue*

# ignore folders with libraries
lib/
libs/

# ignore folders with branches
branch/
branches/

# ignore java doc (generated)
doc/
docs/

# ignore log directories and *.log files (generated)
log/
logs/
*.log

# ignore eclipse IDE project files
.classpath
.project
.settings

# ignore IntelliJ IDE project files
.iml
.idea

# ignore BlueJ IDE project files
*.ctxt

# ignore tmp directories and *.tmp files
tmp/
temp/
*.tmp

# ignore images and markup files and directories
**/img
**/markup

# ignore OSX system files
.DS_Store
